MYSQL_DATABASE=watchmate
MYSQL_USER=watchmate
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

DB_URL=jdbc:mysql://db:3306/watchmate
DB_USERNAME=watchmate
DB_PASSWORD=change_me

JWT_SECRET=your_secret_here
TMDB_API_TOKEN=your_tmdb_token_here

APP_DOMAIN=http://localhost:8080
VERIFIED_SENDER=your_email_here